body{ 
    background:rgb(166, 90, 85);
    font-family:'Times New Roman', Times, serif;
}

h1 {
    color:#23e16f;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    color:#23e16f;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

h3 {
    color:#23e16f;
    font-size: 25;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

h4 {
    color:#23e16f;
    font-size: 25;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
h5 {
    color:#000000;
    font-size: 25;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(166, 90, 85); /* pick a color */
    border-radius: 25%;

}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 20px solid rgb(235, 152, 0); /* choose a color */
    display: block;
    margin: auto;
}