body{ 
    background:#E6473C;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    color:#ffffff;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    color:#56916E;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

h3 {
    color:#56916E;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}
h4 {
    color:#56916E;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}