body{ 
    background:rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}

h1 {
    color:#000000;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    color:#000000;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

h3 {
    color:#000000;
    font-size: 35;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}